# Makes it easier to separate interleaved printk calls from multiple
# threads
CONFIG_PRINTK_CALLER=y

# Coverage information used to diret fuzzing
CONFIG_KCOV=y
CONFIG_KCOV_ENABLE_COMPARISONS=y

# To avoid the need to insert kernel modules into the test filesystem,
# force everything to be built into the main kernel Image.
CONFIG_MODULES=n

# Used for fuzzing networking
CONFIG_NETDEVSIM=y

# Used for fault injection
CONFIG_FAULT_INJECTION=y
CONFIG_FAILSLAB=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_FAIL_IO_TIMEOUT=y
CONFIG_FAIL_FUTEX=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y

# Features that are worth fuzzing, even if not enabled in defconfig
CONFIG_BPF_SYSCALL=y
CONFIG_USERFAULTFD=y
